@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* th, td{
  border: 1px solid rgb(177, 177, 177);
  padding: 4px;
  text-align: center;
} */

.active {
 color: #4400ff;
}